body {
  margin: 0;
  background-color: #343949;
  font-size: 16px;
  font-family: arial, san-serif;
  font-weight: lighter;
  color: #fff;
}

.top-bar {
  padding: 1em;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: #202637;
}

.btn {
  min-width: 48px;
  min-height: 48px;
  border-radius: 15px;
  background-color: #E57A44;
  border: none;
  color: #fff;
  cursor: pointer;
  filter: drop-shadow(0 5px 5px rgba(0,0,0,0.5));
}

.btn:hover {
  filter: drop-shadow(0 2px 2px rgba(0,0,0,0.5));
}

.round {
  border-radius: 50%;
}

#locationInput {
  border-radius: 25px;
  border: none;
  font-size: 1.15em;
  text-align: center;
  min-height: 48px;
  margin: 0 0.5em;
  flex-basis: 50%;
}

#searchLoc {
  flex-basis: 135px;
  text-transform: uppercase;
  font-size: 105%;
}

.main {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.main p {
  flex-basis: 45%;
  padding: 0.5em;
}
